 <?xml version="1.0" encoding="UTF-8"?>
 <configuration>
     <system.webServer>
         <staticContent>
                <remove fileExtension=".mp4" />
                <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
                <remove fileExtension=".woff" />
                        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
                <remove fileExtension=".json" />
                <mimeMap fileExtension=".json" mimeType="application/json" />
      </staticContent>
     </system.webServer>
 </configuration>